:root {
	--primary-color: #0d6efd;
	--green-color: #41B883;
	--black-color: #35495E;
}

.colorGreen {
	color: var(--green-color);
}

.colorBlack {
	color: var(--black-color);
}

section {
	padding: 100px 0;
	background-color: #eee
}

header {
	background-color: #eee;
}


footer {
	background-color: #eee;
}

#title_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#btn-create {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

#message-text {
	height: auto;
	resize: none;
}

#message-text_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


table {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 2px solid var(--primary-color);
	vertical-align: top;
	text-align: left;
	width: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

#btn-menu {
	margin-right: 50px;
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

#btn-menu::after {
	display: none;
}

#i-menu {
	margin: 0;
	padding: 0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center
}

#dropdown-upd:hover {
	background-color: var(--bs-secondary-bg);
	color: black;
}

#dropdown-del {
	color: var(--bs-red);
}

#dropdown-del:hover {
	background-color: var(--bs-red);
	color: white;
}

#i-dropdown {
	margin-right: 10px;
}

#mb-delete {
	display: flex;
	align-items: flex-start;
}

#l-delete {
	text-align: left;
}

#i-dropdown {
	margin-right: 10px;
}

#i-danger {
	color: var(--bs-red);
	margin-right: 15px;
}

#l-delete {
	display: flex;
}

#liveAlertPlaceholder {
	position: fixed;
	z-index: 1;
	top: 15px;
	/* Устанавливаем отступ снизу */
	left: 15px;
	/* Устанавливаем отступ слева */
	text-align: left;
}

#i-check {
	margin-right: 15px;
}