/* house, apartment */
#dropdown-upd {
    pointer-events: none;
    /* Делаем кнопку неактивной */
    color: var(--secondary-color);
    ;
    /* Задаем серый цвет текста */
}
#dropdown-upd:hover {
    background-color: initial;
    /* Убираем hover-эффект */
}